name: gitgenz github workflow
on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        description: "version of the app"
        default: "1.0.0"
        type: string

      environment:
        required: true
        description: "environment to deploy"
        default: "dev"
        type: choice
        options: ["dev","prod"]

env:
  WORKFLOW_SECRET: WORFLOW-SECRET


jobs:
  print-info:
    runs-on: ubuntu-latest
    outputs:
      version_number: ${{steps.version_step.outputs.version_number}}
    steps:
      - name: version steps
        id: version_step
        run: echo "version_number=${inputs.version}" >> $GITHUB_OUTPUT
      - name: print the version
        run: echo "version: ${inputs.version}"
      - name: print the environment
        run: echo "environment: ${inputs.environment}"

  job-1:
    env:
      JOB_SECRET: JOB-SECRET
    runs-on: ubuntu-latest
    steps:
      - name: logging the workflow start
        run: echo "Workflow started at $(date) in job1"
  
  job-2:
    runs-on: ubuntu-latest
    steps:
      - name: logging the second job start
        env:
          STEP_SECRET: STEP-SECRET
        run: echo "second job started at $(date) ${STEP_SECRET} ${JOB_SECRET} ${WORKFLOW_SECRET}"
  
  job-3:
    runs-on: ubuntu-latest
    needs: [job-1,job-2]
    steps:
      - name: logging that third job start
        run: echo "third job require job-1 and job-2 to be completed"

  build_and_deploy:
    runs-on: ubuntu-latest
    needs: [job-3, print-info]
    steps:
      - name: logging the workflow end
        run: echo "Workflow ended at $(date) ${STEP_SECRET} ${JOB_SECRET} ${WORKFLOW_SECRET}"   
        run: echo "version ${{needs.print-info.outputs.version_number}}"
    