name: gitgenz github workflow
on:
  workflow_dispatch:
env:
  WORKFLOW_SECRET: WORFLOW-SECRET

jobs:
  job-1:
    env:
      JOB_SECRET: JOB-SECRET
    runs-on: ubuntu-latest
    steps:
      - name: logging the workflow start
        run: echo "Workflow started at $(date) in job1"
  
  job-2:
    runs-on: ubuntu-latest
    steps:
      - name: logging the second job start
        env:
          STEP_SECRET: STEP-SECRET
        run: echo "second job started at $(date)"
  
  job-3:
    runs-on: ubuntu-latest
    needs: [job-1,job-2]
    steps:
      - name: logging that third job start
        run: echo "third job require job-1 and job-2 to be completed"

  build_and_deploy:
    runs-on: ubuntu-latest
    needs: [job-3]
    steps:
      - name: logging the workflow end
        run: echo "Workflow ended at $(date)"   
    